#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.form-range::-moz-range-thumb {
  background: #213547;
}

.form-text {
  display: flex;
  justify-content: space-between;
}
.form-text span {
  color: #fbfbff;
}

.dish-name {
  color: #213547;
}

.title {
  padding-bottom: 30px;
}
